
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #2c6b73;
    --secundario: #54848a ;
    --gris: #757575;
    --tercero: #3dabb9 ;
}




html{

    font-size: 62.5%;

}

body{
    font-size: 16px;
    
    font-family: "Krub", sans-serif;
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 8px;
}

.titulo span{
    font-size: 2rem;
    color: var(--oscuro);
    font-family: "Krub", sans-serif;
    font-weight: bold;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    justify-content: space-evenly;
}


.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    padding: 1.2rem;
}


.navegacion-principal a:hover{
    background-color: var(--tercero);
}



@media (max-width: 480px) {

    .navegacion-principal a{ 
        justify-content: space-around; 
        display: block;
        padding: 1.7rem;
    }
}
    


.hero{
    margin-top: 0PX;
    background-image: url(../img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    padding: 20px;
}


