
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #2c6b73;
    --secundario: #54848a ;
    --gris: #757575;
}




html{

    font-size: 62.5%;

}

body{
    font-size: 16px;
    
    font-family: "Krub", sans-serif;
}


.titulo{
    text-align: center;
    font-size: 3.8rem;
    color: var(--primario);
    font-weight: bold;
    margin-bottom: 6px;
}

.titulo span{
    font-size: 2rem;
    color: var(--oscuro);
    font-family: "Krub", sans-serif;
    font-weight: bold;
}

.container{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}



.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}





